@import 'font/font.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Karla;
}
body{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #bf0018;
    flex-direction: column;
    font-family: Karla;
    gap: 4em;
}
header{
    
}
.container{
    border: 1px solid white;
    border-radius: 0.5em;
    padding: 1em;
    max-height: 400px;
    max-width: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.container h2,
h1{
    color: white;
    line-height: 1.2;
    padding-bottom: 0.8em;
    text-align: center;
}
.container section{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}
section .input-field{
    height: 3em;
    width: 100%;
    border: none;
}
section input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 0.4em;
    padding: 1em;
    font-family: Karla;
    font-size: 18px;
    font-weight: 900;
}
input::placeholder{
    color: #bf0018;
    font-family: Karla;
    padding: 0.2em;
    font-weight: 300;
}
section button{
    padding: 1.2em;
    border-radius: 0.4em;
    font-family: Karla;
    font-size: 18px;
    background: white;
    color: black;
    border: none;
    outline: none;
    font-weight: 900;
}
.display{
    height: 4em;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    background: white;
    margin-top: 20px;
    border-radius: 0.5em;
}
.display p{
    color: #bf0018;
    font-family: Karla;
    font-size: 23px;
    font-weight: 900;
    padding: 1em;
}
@media(min-width: 50em){
    .display{
        width: 40%;
    }
}
